<div *ngIf="isVisible" class="modal-overlay" (click)="close()">
    <div class="modal-content fundraiser-details" (click)="$event.stopPropagation()">
        <h2>Fundraiser Details</h2>
        <form #fundraiserForm="ngForm" *ngIf="fundraiserToEdit">
            <div>
                Fundraiser ID: {{ fundraiserToEdit.FUNDRAISER_ID }}
            </div>
            <div>
                <label for="organizer">Organizer:</label>
                <input id="organizer" [(ngModel)]="fundraiserToEdit.ORGANIZER" name="organizer" required />
            </div>
            <div>
                <label for="caption">Caption:</label>
                <input id="caption" [(ngModel)]="fundraiserToEdit.CAPTION" name="caption" required />
            </div>
            <div>
                <label for="targetFunding">Target Funding:</label>
                <input id="targetFunding" [(ngModel)]="fundraiserToEdit.TARGET_FUNDING" name="targetFunding" type="number" required />
            </div>
            <div>
                <label for="currentFunding">Current Funding:</label>
                <input id="currentFunding" [(ngModel)]="fundraiserToEdit.CURRENT_FUNDING" name="currentFunding" type="number" required />
            </div>
            <div>
                <label for="city">City:</label>
                <input id="city" [(ngModel)]="fundraiserToEdit.CITY" name="city" required />
            </div>
            <div>
                <div>
                    <label for="categoryId">Category ID:</label>
                    <input id="categoryId" [(ngModel)]="fundraiserToEdit.CATEGORY_ID" name="categoryId" type="number" required />
                </div>
                <label for="active">Active:</label>
                <select id="active" [(ngModel)]="fundraiserToEdit.ACTIVE" name="active">
                    <option value="0">Inactive</option>
                    <option value="1">Active</option>
                </select>
            </div>
            <button (click)="close()">Close</button>
            <button type="submit" (click)="editFundraiser(fundraiserToEdit!)">Save</button>
        </form>
    </div>
    <div class="modal-content donations-details" (click)="$event.stopPropagation()">
        <h3>Donations</h3>
        <ul>
            <li *ngFor="let donation of donations">
                <p>Donation ID: {{ donation.DONATION_ID }}</p>
                <p>Date: {{ donation.DATE }}</p>
                <p>Amount: {{ donation.AMOUNT }}</p>
                <p>Giver: {{ donation.GIVER }}</p>
                <p>Fundraiser ID: {{ donation.FUNDRAISER_ID }}</p>
            </li>
        </ul>
    </div>
</div>